In [2]:
import psycopg2

In [3]:
%load_ext sql

In [ ]:
%sql postgresql://postgres:Mjh.8225075@localhost/PortfolioProjects

Manufacturing processes for any product is like putting together a puzzle. Products are pieced together step by step, and keeping a close eye on the process is important.

For this project, you're supporting a team that wants to improve how they monitor and control a manufacturing process. The goal is to implement a more methodical approach known as statistical process control (SPC). SPC is an established strategy that uses data to determine whether the process works well. Processes are only adjusted if measurements fall outside of an acceptable range. 

This acceptable range is defined by an upper control limit (UCL) and a lower control limit (LCL), the formulas for which are:

$ucl = avg\_height + 3 * \frac{stddev\_height}{\sqrt{5}}$

$lcl = avg\_height - 3 * \frac{stddev\_height}{\sqrt{5}}$

The UCL defines the highest acceptable height for the parts, while the LCL defines the lowest acceptable height for the parts. Ideally, parts should fall between the two limits.

Using SQL window functions and nested queries, you'll analyze historical manufacturing data to define this acceptable range and identify any points in the process that fall outside of the range and therefore require adjustments. This will ensure a smooth running manufacturing process consistently making high-quality products.

## The data
The data is available in the `manufacturing_parts` table which has the following fields:
- `item_no`: the item number
- `length`: the length of the item made
- `width`: the width of the item made
- `height`: the height of the item made
- `operator`: the operating machine

# Analyze the `manufacturing_parts` table and determine whether the manufacturing process is performing within acceptable control limits

- Create an alert that flags whether the height of a product is within the control limits for each operator using the formulas provided in the workbook.
    - The final query should return the following fields: `operator`, `row_number`, `height`, `avg_height`, `stddev_height`, `ucl`, `lcl`, `alert`, and be ordered by the `item_no`.
    - The alert column will be your boolean flag.
    - Use a window function of length 5 to calculate the control limits, considering rows up to and including the current row; incomplete windows should be excluded from the final query output. Save this DataFrame as `alerts`.

In [14]:
%%sql

WITH calc AS (
	SELECT operator,
    	   row_number,
		   height,
           avg_height,
           stddev_height,
           avg_height + 3 * (stddev_height / SQRT(5)) AS ucl,
           avg_height - 3 * (stddev_height / SQRT(5)) AS lcl
    FROM (
        SELECT 
			   operator,
               height,
               ROW_NUMBER() OVER (PARTITION BY operator 
								  ORDER BY item_no) AS row_number,
               AVG(height) OVER (PARTITION BY operator
								 ORDER BY item_no 
								 ROWS BETWEEN 4 PRECEDING AND CURRENT ROW) AS avg_height,
               STDDEV(height) OVER (PARTITION BY operator
									ORDER BY item_no
									ROWS BETWEEN 4 PRECEDING AND CURRENT ROW) AS stddev_height
        FROM manufacturing_parts
    ) AS h
)
SELECT operator,
       row_number,
       height,
       ROUND(avg_height, 2) AS avg_height,
       ROUND(stddev_height, 2) AS stddev_height,
       ROUND(CAST(ucl AS NUMERIC), 2) AS ucl,
       ROUND(CAST(lcl AS NUMERIC), 2) AS lcl,
       CASE WHEN height < lcl OR height > ucl THEN TRUE ELSE FALSE END AS alert
FROM calc
WHERE row_number >= 5;

Running query in 'postgresql://postgres:***@localhost/PortfolioProjects'

420 rows affected.

+----------+------------+--------+------------+---------------+-------+-------+-------+
| operator | row_number | height | avg_height | stddev_height |  ucl  |  lcl  | alert |
+----------+------------+--------+------------+---------------+-------+-------+-------+
|   Op-1   |     5      | 19.46  |   19.78    |      1.06     | 21.20 | 18.35 | False |
|   Op-1   |     6      | 20.36  |   19.91    |      1.09     | 21.38 | 18.45 | False |
|   Op-1   |     7      | 20.22  |   20.03    |      1.08     | 21.49 | 18.57 | False |
|   Op-1   |     8      | 21.03  |   19.93    |      0.93     | 21.18 | 18.68 | False |
|   Op-1   |     9      | 19.78  |   20.17    |      0.60     | 20.97 | 19.37 | False |
|   Op-1   |     10     | 20.71  |   20.42    |      0.48     | 21.06 | 19.78 | False |
|   Op-1   |     11     | 20.62  |   20.47    |      0.48     | 21.12 | 19.82 | False |
|   Op-1   |     12     | 19.51  |   20.33    |      0.65     | 21.20 | 19.46 | False |
|   Op-1   |     13     | 20.06  |   20.14    |      0.52     | 20.84 | 19.44 | False |
|   Op-1   |     14     |  20.3  |   20.24    |      0.48     | 20.89 | 19.59 | False |
+----------+------------+--------+------------+---------------+-------+-------+-------+
Truncated to displaylimit of 10.