In [1]:
import psycopg2

In [2]:
%load_ext sql

In [ ]:
%sql postgresql://product_level

# 1. Introduction

When factoring heat generation required for the manufacturing and transportation of products, _Greenhouse gas emissions attributable to products, from food to sneakers to appliances, make up more than 75% of global emissions._ (`Source: The Carbon Catalogue https://www.nature.com/articles/s41597-022-01178-9`)

Our data, which is publicly available on nature.com, contains product carbon footprints (PCFs) for various companies. PCFs are the greenhouse gas emissions attributable to a given product, measured in CO<sub>2</sub> (carbon dioxide equivalent).
<!--https://www.nature.com/articles/s41597-022-01178-9-->

This data is stored in a PostgreSQL database containing one table, `product_level`, which looks at PCFs by product as well as the stage of production that these emissions occurred. Here's a snapshot of what `product_level` contains in each column:

### `product_level`

| field                              | data type |
|------------------------------------|-----------|
| `id`                                 | `VARCHAR`   |
| `year`                               | `INT`       |
| `product_name`                       | `VARCHAR`   |
| `company`                            | `VARCHAR`   |
| `country`                            | `VARCHAR`   |
| `industry_group`                     | `VARCHAR`   |
| `weight_kg`                          | `NUMERIC`   |
| `carbon_footprint_pcf`               | `NUMERIC`   |
| `upstream_percent_total_pcf`         | `VARCHAR`   |
| `operations_percent_total_pcf`       | `VARCHAR`   |
| `downstream_percent_total_pcf`       | `VARCHAR`   |

You'll use this data to examine the carbon footprint of each industry in the dataset!

# 2. Preview of dataset

In [4]:
%%sql
SELECT *
FROM product_level
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+---------------+------+---------------------------------------------------------------+----------------------+---------+----------------------------------------------+----------+-------------------+-------------+-----------+----------------------------------+-------------------------+---------------------------+---------------------------+
|       ID      | Year |                          ProductName                          |       Company        | Country |                IndustryGroup                 | WeightKG | CarbonFootprintKG | ProtocolPCF | ChangePCF |           ChangeReason           | UpstreamPercentTotalPCF | OperationsPercentTotalPCF | DownstreamPercentTotalPCF |
+---------------+------+---------------------------------------------------------------+----------------------+---------+----------------------------------------------+----------+-------------------+-------------+-----------+----------------------------------+-------------------------+---------------------------+---------------------------+
|  10056-1-2014 | 2014 |                    Frosted Flakes(R) Cereal                   |   Kellogg Company    |   USA   |           Food, Beverage & Tobacco           |  0.7485  |         2         |     None    |    None   |    N/a (no %change reported)     |          0.575          |            0.3            |           0.125           |
|  10056-1-2015 | 2015 | Frosted Flakes, 23 oz, produced in Lancaster, PA (one carton) |   Kellogg Company    |   USA   |          Food & Beverage Processing          |  0.7485  |         2         |     None    |    None   |    N/a (no %change reported)     |          0.575          |            0.3            |           0.125           |
|  10222-1-2013 | 2013 |                          Office Chair                         |      KNOLL INC       |   USA   |                Capital Goods                 |  20.68   |       72.54       |     None    |    None   | N/a (no previous data available) |          0.8063         |           0.1736          |           0.0201          |
|  10261-1-2017 | 2017 |                     Multifunction Printers                    | Konica Minolta, Inc. |  Japan  |       Technology Hardware & Equipment        |   110    |        1488       |     ISO     |    None   | N/a (no previous data available) |          0.3065         |           0.0551          |           0.6384          |
|  10261-2-2017 | 2017 |                     Multifunction Printers                    | Konica Minolta, Inc. |  Japan  |       Technology Hardware & Equipment        |   110    |        1818       |     ISO     |    None   | N/a (no previous data available) |          0.2508         |           0.0451          |           0.7041          |
|  10261-3-2017 | 2017 |                     Multifunction Printers                    | Konica Minolta, Inc. |  Japan  |       Technology Hardware & Equipment        |   110    |        2274       |     ISO     |    None   | N/a (no previous data available) |          0.2005         |           0.0361          |           0.7634          |
|  10324-1-2016 | 2016 |                         KURALON  fiber                        |  Kuraray Co., Ltd.   |  Japan  |                  Materials                   |   1500   |       10000       |     None    |    None   |    N/a (no %change reported)     |           None          |            None           |            None           |
|  10418-1-2013 | 2013 |                        Portland Cement                        |     Lafarge S.A.     |  France |                  Materials                   |   1000   |        1102       |     None    |    None   |    N/a (no %change reported)     |           None          |            None           |            None           |
| 10661-10-2014 | 2014 |       Regular Straight 505® Jeans – Steel (Water<Less™)       |  Levi Strauss & Co.  |   USA   |         Consumer Durables & Apparel          |  0.7665  |         15        |     None    |    None   |    N/a (no %change reported)     |           None          |            None           |            None           |
| 10661-10-2015 | 2015 |       Regular Straight 505® Jeans – Steel (Water<Less™)       |  Levi Strauss & Co.  |   USA   | Textiles, Apparel, Footwear and Luxury Goods |  0.7665  |         15        |     None    |    None   |    N/a (no %change reported)     |           None          |            None           |            None           |
+---------------+------+---------------------------------------------------------------+----------------------+---------+----------------------------------------------+----------+-------------------+-------------+-----------+----------------------------------+-------------------------+---------------------------+---------------------------+
Truncated to displaylimit of 10.

# 3. Exploratory Data Analysis

## 3.1. Check total entities

In [5]:
%%sql

SELECT COUNT(*)
FROM product_level

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

1 rows affected.

+-------+
| count |
+-------+
|  865  |
+-------+

## 3.2. Check ID column values

In [6]:
%%sql
    
SELECT
	COUNT(DISTINCT "ID")
FROM product_Level

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

1 rows affected.

+-------+
| count |
+-------+
|  865  |
+-------+

## 3.3. Check year column values

In [7]:
%%sql

SELECT
	DISTINCT "Year"
FROM product_level

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

5 rows affected.

+------+
| Year |
+------+
| 2015 |
| 2014 |
| 2017 |
| 2016 |
| 2013 |
+------+

## 3.4. Check company column values

In [8]:
%%sql

SELECT
	COUNT(DISTINCT "Company")
FROM product_level

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

1 rows affected.

+-------+
| count |
+-------+
|  145  |
+-------+

## 3.5. Check protocol used for PCF column values

In [9]:
%%sql
    
SELECT
	DISTINCT "ProtocolPCF"
FROM product_level

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

26 rows affected.

+--------------------+
|    ProtocolPCF     |
+--------------------+
|      PAS2050       |
|   Paper Profile    |
|       FEFCO        |
| M. Env. Japan v2.2 |
|   Bilan Carbone    |
|        GHGP        |
|       EUPEF        |
|     EICC Tool      |
|   Korea CL Guide   |
|   ILCD Handbook    |
+--------------------+
Truncated to displaylimit of 10.

## 3.6. Check change reason column values

In [10]:
%%sql
    
SELECT
	DISTINCT "ChangeReason"
FROM product_level

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

6 rows affected.

+--------------------------------------------------------+
|                      ChangeReason                      |
+--------------------------------------------------------+
|           Product carbon efficiency changed            |
|   Model and/or parameters changed (but not product)    |
|              No specific reason reported               |
|            N/a (no previous data available)            |
| Model/parameters AND product carbon efficiency changed |
|               N/a (no %change reported)                |
+--------------------------------------------------------+

## 3.7. Find duplicates across all rows

In [11]:
%%sql

SELECT
	"Year",
	"ProductName",
	"Company",
	"IndustryGroup",
	"WeightKG",
	"CarbonFootprintKG",
	"UpstreamPercentTotalPCF",
	COUNT(*) AS Duplicates
FROM product_level
GROUP BY
	"Year",
	"ProductName",
	"Company",
	"IndustryGroup",
	"WeightKG",
	"CarbonFootprintKG",
	"UpstreamPercentTotalPCF"
HAVING COUNT(*) > 1

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

+------+-------------+---------+---------------+----------+-------------------+-------------------------+------------+
| Year | ProductName | Company | IndustryGroup | WeightKG | CarbonFootprintKG | UpstreamPercentTotalPCF | duplicates |
+------+-------------+---------+---------------+----------+-------------------+-------------------------+------------+
+------+-------------+---------+---------------+----------+-------------------+-------------------------+------------+

# 4. Number of companies with the highest PCF in the most recent year for each industry

In [12]:
%%sql

SELECT
	"IndustryGroup",
	COUNT(DISTINCT "Company") AS num_companies,
	ROUND(SUM("CarbonFootprintKG"), 1) AS total_industry_footprint
FROM product_level
WHERE "Year" IN (
	SELECT
		MAX("Year")
	FROM product_level
	)
GROUP BY "IndustryGroup"
ORDER BY total_industry_footprint DESC

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

6 rows affected.

+------------------------------------+---------------+--------------------------+
|           IndustryGroup            | num_companies | total_industry_footprint |
+------------------------------------+---------------+--------------------------+
|             Materials              |       3       |         107129.0         |
|           Capital Goods            |       2       |         94942.7          |
|  Technology Hardware & Equipment   |       4       |         21857.6          |
|      Food, Beverage & Tobacco      |       1       |          3161.5          |
| Commercial & Professional Services |       1       |          740.6           |
|        Software & Services         |       1       |          690.0           |
+------------------------------------+---------------+--------------------------+

# 5. Summarization product carbon footprint across different attributes

## 5.1. Min, max, and average of PCF across top 10 products

In [13]:
%%sql

SELECT
	"ProductName",
	ROUND(MIN("CarbonFootprintKG"), 2) AS min_PCF,
	ROUND(MAX("CarbonFootprintKG"), 2) AS max_PCF,
	ROUND(AVG("CarbonFootprintKG"), 2) AS average_PCF
FROM product_level
GROUP BY "ProductName"
ORDER BY average_PCF DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+------------------------------------------------------------------------------------------------------------------------------------+------------+------------+-------------+
|                                                            ProductName                                                             |  min_pcf   |  max_pcf   | average_pcf |
+------------------------------------------------------------------------------------------------------------------------------------+------------+------------+-------------+
|                                                    Wind Turbine G128 5 Megawats                                                    | 3718044.00 | 3718044.00 |  3718044.00 |
|                                                    Wind Turbine G132 5 Megawats                                                    | 3276187.00 | 3276187.00 |  3276187.00 |
|                                                    Wind Turbine G114 2 Megawats                                                    | 1532608.00 | 1532608.00 |  1532608.00 |
|                                                    Wind Turbine G90 2 Megawats                                                     | 1251625.00 | 1251625.00 |  1251625.00 |
|                                 Land Cruiser Prado. FJ Cruiser. Dyna trucks. Toyoace.IMV def unit.                                 | 191687.00  | 191687.00  |  191687.00  |
| Retaining wall structure with a main wall (sheet pile): 136 tonnes of steel sheet piles and 4 tonnes of tierods per 100 meter wall | 167000.00  | 167000.00  |  167000.00  |
|                                                                TCDE                                                                |  99075.00  |  99075.00  |   99075.00  |
|                                                 Mercedes-Benz GLE (GLE 500 4MATIC)                                                 |  91000.00  |  91000.00  |   91000.00  |
|                                                   Mercedes-Benz S-Class (S 500)                                                    |  85000.00  |  85000.00  |   85000.00  |
|                                                     Mercedes-Benz SL (SL 350)                                                      |  72000.00  |  72000.00  |   72000.00  |
+------------------------------------------------------------------------------------------------------------------------------------+------------+------------+-------------+
Truncated to displaylimit of 10.

## 5.2. Min, max, and average of PCF across top 10 companies

In [14]:
%%sql

SELECT
	"Company",
	COUNT("ProductName") AS num_products,
	ROUND(MIN("CarbonFootprintKG"), 2) AS min_PCF,
	ROUND(MAX("CarbonFootprintKG"), 2) AS max_PCF,
	ROUND(AVG("CarbonFootprintKG"), 2) AS average_PCF
FROM product_level
GROUP BY "Company"
ORDER BY average_PCF DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+--------------------------------------+--------------+------------+------------+-------------+
|               Company                | num_products |  min_pcf   |  max_pcf   | average_pcf |
+--------------------------------------+--------------+------------+------------+-------------+
| Gamesa Corporación Tecnológica, S.A. |      4       | 1251625.00 | 3718044.00 |  2444616.00 |
|          Hino Motors, Ltd.           |      1       | 191687.00  | 191687.00  |  191687.00  |
|            Arcelor Mittal            |      2       |    7.30    | 167000.00  |   83503.65  |
|               Weg S/A                |      3       |  20007.62  |  87589.36  |   53551.49  |
|              Daimler AG              |      37      |  12000.00  |  91000.00  |   43089.19  |
|        General Motors Company        |      4       |  27588.00  |  39100.00  |   34251.75  |
|            Volkswagen AG             |      25      |  7550.00   |  37094.00  |   26238.40  |
|          Waters Corporation          |      3       |  15196.60  |  40215.00  |   24162.00  |
|       Daikin Industries, Ltd.        |      6       |  3505.00   |  51066.00  |   17600.00  |
|            CJ Cheiljedang            |      6       |   114.80   |  26836.00  |   15802.80  |
+--------------------------------------+--------------+------------+------------+-------------+
Truncated to displaylimit of 10.

## 5.3. Min, max, and average of PCF across top 10 countries

In [15]:
%%sql

SELECT 
	"Country",
	COUNT("ProductName") AS num_products,
	ROUND(MIN("CarbonFootprintKG"), 2) AS min_PCF,
	ROUND(MAX("CarbonFootprintKG"), 2) AS max_PCF,
	ROUND(AVG("CarbonFootprintKG"), 2) AS average_PCF
FROM product_level
GROUP BY "Country"
ORDER BY average_PCF DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+--------------+--------------+---------+------------+-------------+
|   Country    | num_products | min_pcf |  max_pcf   | average_pcf |
+--------------+--------------+---------+------------+-------------+
|    Spain     |      13      |   3.00  | 3718044.00 |  752778.94  |
|  Luxembourg  |      2       |   7.30  | 167000.00  |   83503.65  |
|   Germany    |      67      |   0.02  |  91000.00  |   33600.37  |
|    Brazil    |      17      |   1.32  |  87589.36  |   9858.10   |
| South Korea  |      22      |   0.63  |  26836.00  |   6408.82   |
|    Japan     |     109      |   0.03  | 191687.00  |   4764.56   |
| Netherlands  |      35      |   2.00  |  6500.00   |   2011.87   |
|    India     |      16      |  504.00 |  2820.00   |   1535.88   |
|     USA      |     305      |   0.01  |  40215.00  |   1481.54   |
| South Africa |      11      |  871.00 |  2019.00   |   1119.17   |
+--------------+--------------+---------+------------+-------------+
Truncated to displaylimit of 10.

# 6. 10 products with lowest PCF

In [16]:
%%sql

SELECT 
	"ProductName",
	"CarbonFootprintKG",
	"Company",
	"Country",
	"IndustryGroup"
FROM product_level
ORDER BY "CarbonFootprintKG" ASC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+--------------------------------+-------------------+-----------------------------------+-------------+--------------------------+
|          ProductName           | CarbonFootprintKG |              Company              |   Country   |      IndustryGroup       |
+--------------------------------+-------------------+-----------------------------------+-------------+--------------------------+
|        metal crown caps        |      0.000400     |      Fabrica de Tapas Bavaria     |   Colombia  | Food, Beverage & Tobacco |
|           Crown caps           |      0.000430     |      Fabrica de Tapas Bavaria     |   Colombia  | Food, Beverage & Tobacco |
|           Sunliquid            |      0.00400      |            Clariant AG            | Switzerland |        Materials         |
|            18mm Cap            |        0.01       | YONYU Plastics (Shanghai) Co.,Ltd |     USA     |        Materials         |
|    PET preforms for bottles    |       0.0108      |               Retal               |  Lithuania  |        Materials         |
| Tetra Brik® Aseptic Slim 200ml |       0.016       |             TETRA PAK             |    Sweden   |        Materials         |
| Tetra Brik® Aseptic Base 250ml |       0.0170      |             TETRA PAK             |    Sweden   |        Materials         |
| Tetra Brik® Aseptic Slim 200ml |       0.0170      |             TETRA PAK             |    Sweden   |        Materials         |
| Tetra Brik® Aseptic Slim 200ml |       0.0170      |             TETRA PAK             |    Sweden   |  Containers & Packaging  |
| Tetra Brik® Aseptic Slim 200ml |       0.0170      |             TETRA PAK             |    Sweden   |        Materials         |
+--------------------------------+-------------------+-----------------------------------+-------------+--------------------------+
Truncated to displaylimit of 10.

# 7. Top 10 highest total PCF based on industry

In [17]:
%%sql

SELECT
	"IndustryGroup",
	ROUND(SUM("CarbonFootprintKG"), 2) AS total_industry_footprint
FROM product_level
GROUP BY "IndustryGroup"
ORDER BY total_industry_footprint DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+------------------------------------------------+--------------------------+
|                 IndustryGroup                  | total_industry_footprint |
+------------------------------------------------+--------------------------+
|       Electrical Equipment and Machinery       |        9801557.64        |
|            Automobiles & Components            |        2582263.42        |
|                   Materials                    |        430198.37         |
|        Technology Hardware & Equipment         |        278646.42         |
|                 Capital Goods                  |        258632.67         |
|            Food, Beverage & Tobacco            |        109134.64         |
| Pharmaceuticals, Biotechnology & Life Sciences |         72486.00         |
|              Software & Services               |         46534.48         |
|                   Chemicals                    |         44939.65         |
|                     Media                      |         23016.72         |
+------------------------------------------------+--------------------------+
Truncated to displaylimit of 10.

# 8. Investigate PCF changes

## 8.1. Most common reasons for PCF changes

In [18]:
%%sql

SELECT
	"ChangeReason",
	COUNT("ChangeReason") AS TotalReports
FROM product_level
WHERE "ChangeReason" NOT LIKE 'N/a%'
GROUP BY "ChangeReason"
ORDER BY TotalReports DESC

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

4 rows affected.

+--------------------------------------------------------+--------------+
|                      ChangeReason                      | totalreports |
+--------------------------------------------------------+--------------+
|           Product carbon efficiency changed            |     166      |
|              No specific reason reported               |      38      |
|   Model and/or parameters changed (but not product)    |      25      |
| Model/parameters AND product carbon efficiency changed |      21      |
+--------------------------------------------------------+--------------+

## 8.2. Changes higher than 10% for industries

In [19]:
%%sql

WITH AvgChange AS (
		SELECT
			"IndustryGroup",
			AVG("ChangePCF") AS AverageChanges
		FROM product_level
		WHERE "ChangePCF" IS NOT NULL
		GROUP BY "IndustryGroup"
)
SELECT
	"IndustryGroup",
	ROUND(AverageChanges, 2) AS AverageChange
FROM AvgChange
WHERE ABS(AverageChanges) > 0.10
ORDER BY ABS(ROUND(AverageChanges, 2)) DESC

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

8 rows affected.

+-------------------------------------------+---------------+
|               IndustryGroup               | averagechange |
+-------------------------------------------+---------------+
|                   Media                   |     -0.49     |
|                  Tobacco                  |     -0.25     |
|            Software & Services            |     -0.21     |
|     Electrical Equipment and Machinery    |     -0.19     |
| Semiconductors & Semiconductors Equipment |     -0.18     |
|                 Chemicals                 |      0.15     |
|     Commercial & Professional Services    |     -0.15     |
|                   Tires                   |     -0.11     |
+-------------------------------------------+---------------+

## 8.3. Top 10 companies with highest average PCF changes

In [20]:
%%sql

SELECT
	"Company",
	ROUND(AVG("ChangePCF"), 2) AS AverageChange
FROM product_level
WHERE "ChangePCF" IS NOT NULL
GROUP BY "Company"
ORDER BY AverageChange ASC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+----------------------------+---------------+
|          Company           | averagechange |
+----------------------------+---------------+
| Chunghwa Picture Tubes Ltd |     -0.50     |
|         Bloomberg          |     -0.49     |
|  HUMAX ELECTRONICS CO LTD  |     -0.49     |
|       Autodesk, Inc.       |     -0.40     |
|           Holmen           |     -0.37     |
|       LG Electronics       |     -0.32     |
|      NEC Corporation       |     -0.29     |
|     MI (Michaelleides)     |     -0.25     |
|      Ricoh Co., Ltd.       |     -0.24     |
|        Trinseo LLC         |     -0.22     |
+----------------------------+---------------+
Truncated to displaylimit of 10.

## 8.4. Companies with the most improved PCF changes for each year

In [21]:
%%sql

WITH MinChangeCompany AS (
	SELECT
		"Company",
		"Year",
		ROUND(SUM("ChangePCF"), 2) AS TotalChange
	FROM product_level
	WHERE "ChangePCF" IS NOT NULL
	GROUP BY "Company", "Year"
),
	 RankCompany AS (
	SELECT
		"Company",
		"Year",
		TotalChange,
		RANK() OVER (PARTITION BY
			"Year" ORDER BY TotalChange ASC) AS RankChange
	FROM MinChangeCompany
)
SELECT "Year", "Company", TotalChange
FROM RankCompany
WHERE RankChange = 1

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

5 rows affected.

+------+---------------------------+-------------+
| Year |          Company          | totalchange |
+------+---------------------------+-------------+
| 2013 |        Metsä Board        |    -1.13    |
| 2014 |           Holmen          |    -0.87    |
| 2015 |         Bloomberg         |    -1.47    |
| 2016 |        LG Chem Ltd        |    -1.21    |
| 2017 | Toppan Printing Co., Ltd. |    -0.42    |
+------+---------------------------+-------------+

## 8.5. PCF changes across all years

In [22]:
%%sql

SELECT
	"Year",
	ROUND(SUM("ChangePCF"), 2) AS TotalChangePercentage
FROM product_level
WHERE "ChangePCF" IS NOT NULL
GROUP BY "Year"
ORDER BY TotalChangePercentage ASC

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

5 rows affected.

+------+-----------------------+
| Year | totalchangepercentage |
+------+-----------------------+
| 2015 |         -4.24         |
| 2016 |         -4.07         |
| 2014 |         -3.13         |
| 2013 |         -1.46         |
| 2017 |         -0.31         |
+------+-----------------------+

# 9. Investigate PCF life cycle stages

## 9.1. Top 10 industry with highest PCF and their Upstream and Downstream

In [23]:
%%sql

SELECT
	"IndustryGroup",
	ROUND(SUM("CarbonFootprintKG"), 2) AS TotalPCF,
	ROUND(AVG("UpstreamPercentTotalPCF"), 2) AS AverageUpstream,
	ROUND(AVG("DownstreamPercentTotalPCF"), 2) AS AverageDownstream
FROM product_level
GROUP BY "IndustryGroup"
ORDER BY TotalPCF DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

10 rows affected.

+------------------------------------------------+------------+-----------------+-------------------+
|                 IndustryGroup                  |  totalpcf  | averageupstream | averagedownstream |
+------------------------------------------------+------------+-----------------+-------------------+
|       Electrical Equipment and Machinery       | 9801557.64 |       0.16      |        0.81       |
|            Automobiles & Components            | 2582263.42 |       0.14      |        0.82       |
|                   Materials                    | 430198.37  |       0.55      |        0.05       |
|        Technology Hardware & Equipment         | 278646.42  |       0.43      |        0.40       |
|                 Capital Goods                  | 258632.67  |       0.41      |        0.50       |
|            Food, Beverage & Tobacco            | 109134.64  |       0.49      |        0.22       |
| Pharmaceuticals, Biotechnology & Life Sciences |  72486.00  |       0.03      |        0.97       |
|              Software & Services               |  46534.48  |       0.33      |        0.53       |
|                   Chemicals                    |  44939.65  |       0.59      |        0.00       |
|                     Media                      |  23016.72  |       0.46      |        0.49       |
+------------------------------------------------+------------+-----------------+-------------------+
Truncated to displaylimit of 10.

# 10. Check relationship between PCF and weight of the products

In [24]:
%%sql

WITH Aggregations AS (
	SELECT
		AVG("CarbonFootprintKG") AS AvgPCF,
		AVG("WeightKG") AS AvgW,
		COUNT(*) AS N,
		STDDEV("CarbonFootprintKG") AS stdevPCF,
		STDDEV("WeightKG") AS stdevWeight
	FROM product_level
),
Deviation AS (
	SELECT
		("CarbonFootprintKG" - (SELECT AvgPCF FROM Aggregations)) *
		("WeightKG" - (SELECT AvgW FROM Aggregations)) AS dev
	FROM product_level
)
SELECT ROUND(SUM(dev) / (
		(SELECT N FROM Aggregations) *
		(SELECT stdevPCF FROM Aggregations) *
		(SELECT stdevWeight FROM Aggregations)
		), 2) AS Correlation
FROM Deviation;

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

1 rows affected.

+-------------+
| correlation |
+-------------+
|     0.97    |
+-------------+

# 11. PCF for the same products but manufactured in different country

In [25]:
%%sql

SELECT
    C1."ProductName",
    C1."Country",
    ROUND(AVG(C1."CarbonFootprintKG"), 1) AS AvgPCF
FROM product_level AS C1
JOIN product_level AS C2
ON C1."ProductName" = C2."ProductName" AND
   C1."Country" <> C2."Country"
GROUP BY C1."ProductName", C1."Country"
ORDER BY C1."ProductName"

Running query in 'postgresql://postgres:***@localhost:5432/IndustryCarbonEmission'

4 rows affected.

+-------------+-------------+---------+
| ProductName |   Country   |  avgpcf |
+-------------+-------------+---------+
|  L-Arginine | South Korea | 26836.0 |
|  L-Arginine |    Japan    |  301.0  |
|    Server   |    Japan    |  1145.0 |
|    Server   |    Taiwan   |   2.4   |
+-------------+-------------+---------+