Staffelter Hof Winery is Germany's oldest business, established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe, such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time?

To help answer this question, BusinessFinancing.co.uk researched the oldest company still in business in **almost** every country and compiled the results into several CSV files. This dataset has been cleaned.

Having useful information in different files is a common problem. While it's better to keep different types of data separate for data storage, you'll want all the data in one place for analysis. You'll use joining and data manipulation to work with this data and better understand the world's oldest businesses.

`businesses` and `new_businesses`

|Column|Description|
|------|-----------|
|`business`|Name of the business (varchar)|
|`year_founded`|Year the business was founded (int)|
|`category_code`|Code for the business category (varchar)|
|`country_code`|ISO 3166-1 three-letter country code (char)|
---
`countries`

|Column|Description|
|------|-----------|
|`country_code`|ISO 3166-1 three-letter country code (varchar)|
|`country`|Name of the country (varchar)|
|`continent`|Name of the continent the country exists in (varchar)|
---
`categories`
|Column|Description|
|------|-----------|
|`category_code`|Code for the business category (varchar)|
|`category`|Description of the business category (varchar)|

# 1. What is the oldest business on each continent?

In [ ]:
%%sql
    
WITH a AS (SELECT c1.continent,
	   c1.country,
	   b.business,
	   b.year_founded
FROM public.businesses AS b
LEFT JOIN public.countries AS c1
ON b.country_code = c1.country_code),

y AS (SELECT c1.continent, MIN(b.year_founded) AS year_founded
FROM public.businesses AS b
LEFT JOIN public.countries AS c1
ON b.country_code = c1.country_code
GROUP BY c1.continent)

SELECT y.continent, a.country, a.business, y.year_founded
FROM a
JOIN y
ON a.continent=y.continent AND a.year_founded=y.year_founded

**oldest_business_continent**
| index | continent      | country       | business                          | year_founded |
|-------|----------------|---------------|-----------------------------------|--------------|
| 0     | Oceania        | Australia     | Australia Post                    | 1809         |
| 1     | Europe         | Austria       | St. Peter Stifts Kulinarium       | 803          |
| 2     | Asia           | Japan         | Kongō Gumi                        | 578          |
| 3     | North America  | Mexico        | La Casa de Moneda de México       | 1534         |
| 4     | Africa         | Mauritius     | Mauritius Post                    | 1772         |
| 5     | South America  | Peru          | Casa Nacional de Moneda           | 1565         |

# 2. How many countries per continent lack data on the oldest businesses?

Count the number of countries per continent missing business data, including new_businesses.

In [ ]:
%%sql

WITH a AS (SELECT c1.continent,
	   c1.country,
	   b.business,
	   b.year_founded
FROM public.businesses AS b
LEFT JOIN public.countries AS c1
ON b.country_code = c1.country_code),

y AS (SELECT c1.continent, MIN(b.year_founded) AS year_founded
FROM public.businesses AS b
LEFT JOIN public.countries AS c1
ON b.country_code = c1.country_code
GROUP BY c1.continent)

SELECT y.continent, a.country, a.business, y.year_founded
FROM a
JOIN y
ON a.continent=y.continent AND a.year_founded=y.year_founded

**oldest_business_continent**
| index | continent      | country       | business                          | year_founded |
|-------|----------------|---------------|-----------------------------------|--------------|
| 0     | Oceania        | Australia     | Australia Post                    | 1809         |
| 1     | Europe         | Austria       | St. Peter Stifts Kulinarium       | 803          |
| 2     | Asia           | Japan         | Kongō Gumi                        | 578          |
| 3     | North America  | Mexico        | La Casa de Moneda de México       | 1534         |
| 4     | Africa         | Mauritius     | Mauritius Post                    | 1772         |
| 5     | South America  | Peru          | Casa Nacional de Moneda           | 1565         |

# 3. Which business categories are best suited to last many years, and on what continent are they

In [ ]:
%%sql

SELECT c.continent, cat.category, MIN(b.year_founded) AS year_founded
FROM businesses b
INNER JOIN categories cat ON b.category_code = cat.category_code
INNER JOIN countries c ON b.country_code = c.country_code
GROUP BY c.continent, cat.category
ORDER BY c.continent, cat.category;

**oldest_by_continent_category**

| index | continent      | category                           | year_founded |
|-------|----------------|------------------------------------|--------------|
| 0     | Africa         | Agriculture                        | 1947         |
| 1     | Africa         | Aviation & Transport               | 1854         |
| 2     | Africa         | Banking & Finance                  | 1892         |
| 3     | Africa         | Distillers, Vintners, & Breweries  | 1933         |
| 4     | Africa         | Energy                             | 1968         |
| 5     | Africa         | Food & Beverages                   | 1878         |
| 6     | Africa         | Manufacturing & Production         | 1820         |
| 7     | Africa         | Media                              | 1943         |
| 8     | Africa         | Mining                             | 1962         |
| 9     | Africa         | Postal Service                     | 1772         |
| 10    | Asia           | Agriculture                        | 1930         |
| 11    | Asia           | Aviation & Transport               | 1858         |
| 12    | Asia           | Banking & Finance                  | 1830         |
| 13    | Asia           | Cafés, Restaurants & Bars          | 1153         |
| 14    | Asia           | Conglomerate                       | 1841         |
| 15    | Asia           | Construction                       | 578          |
| 16    | Asia           | Defense                            | 1808         |
| 17    | Asia           | Distillers, Vintners, & Breweries  | 1853         |
| 18    | Asia           | Energy                             | 1928         |
| 19    | Asia           | Food & Beverages                   | 1820         |
| 20    | Asia           | Manufacturing & Production         | 1736         |
| 21    | Asia           | Media                              | 1931         |
| 22    | Asia           | Mining                             | 1913         |
| 23    | Asia           | Postal Service                     | 1800         |
| 24    | Asia           | Retail                             | 1883         |
| 25    | Asia           | Telecommunications                 | 1885         |
| 26    | Asia           | Tourism & Hotels                   | 1584         |
| 27    | Europe         | Agriculture                        | 1218         |
| 28    | Europe         | Banking & Finance                  | 1606         |
| 29    | Europe         | Cafés, Restaurants & Bars          | 803          |
| 30    | Europe         | Consumer Goods                     | 1649         |
| 31    | Europe         | Defense                            | 1878         |
| 32    | Europe         | Distillers, Vintners, & Breweries  | 862          |
| 33    | Europe         | Manufacturing & Production         | 864          |
| 34    | Europe         | Media                              | 1999         |
| 35    | Europe         | Medical                            | 1422         |
| 36    | Europe         | Mining                             | 1248         |
| 37    | Europe         | Postal Service                     | 1520         |
| 38    | Europe         | Telecommunications                 | 1912         |
| 39    | Europe         | Tourism & Hotels                   | 1230         |
| 40    | North America  | Agriculture                        | 1638         |
| 41    | North America  | Aviation & Transport               | 1870         |
| 42    | North America  | Banking & Finance                  | 1891         |
| 43    | North America  | Distillers, Vintners, & Breweries  | 1703         |
| 44    | North America  | Food & Beverages                   | 1920         |
| 45    | North America  | Manufacturing & Production         | 1534         |
| 46    | North America  | Media                              | 1909         |
| 47    | North America  | Retail                             | 1670         |
| 48    | North America  | Tourism & Hotels                   | 1770         |
| 49    | Oceania        | Banking & Finance                  | 1861         |
| 50    | Oceania        | Postal Service                     | 1809         |
| 51    | South America  | Banking & Finance                  | 1565         |
| 52    | South America  | Cafés, Restaurants & Bars          | 1877         |
| 53    | South America  | Defense                            | 1811         |
| 54    | South America  | Food & Beverages                   | 1660         |
| 55    | South America  | Manufacturing & Production         | 1621         |