In [1]:
import psycopg2

In [2]:
%load_ext sql

In [3]:
%sql postgresql://students_mental_health

Connecting to 'postgresql://postgres:***@localhost/PortfolioProjects'

# Problem Statement

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.

Explore the students data using PostgreSQL to find out if you would come to a similar conclusion for international students and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

## Data Preview

In [4]:
%%sql

SELECT * 
FROM students_mental_health
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost/PortfolioProjects'

10 rows affected.

+-----------+----------+-----+------+---------------+--------------+-------+------+------+
| inter_dom | academic | age | stay | japanese_cate | english_cate | todep | tosc | toas |
+-----------+----------+-----+------+---------------+--------------+-------+------+------+
|   Inter   |   Grad   |  24 |  5   |    Average    |     High     |   0   |  34  |  91  |
|   Inter   |   Grad   |  28 |  1   |      High     |     High     |   2   |  48  |  39  |
|   Inter   |   Grad   |  25 |  6   |      High     |     High     |   2   |  41  |  51  |
|   Inter   |   Grad   |  29 |  1   |      Low      |   Average    |   3   |  37  |  75  |
|   Inter   |   Grad   |  28 |  1   |      Low      |   Average    |   3   |  37  |  82  |
|   Inter   |   Grad   |  24 |  6   |    Average    |     High     |   6   |  38  |  83  |
|   Inter   |   Grad   |  23 |  1   |    Average    |     High     |   3   |  46  |  58  |
|   Inter   |   Grad   |  30 |  2   |      Low      |     Low      |   9   |  41  | 127  |
|   Inter   |   Grad   |  25 |  4   |      High     |     High     |   7   |  36  | 109  |
|   Inter   |   Grad   |  31 |  2   |      Low      |     High     |   3   |  48  |  51  |
+-----------+----------+-----+------+---------------+--------------+-------+------+------+
Truncated to displaylimit of 10.

## Solution

In [5]:
%%sql

SELECT 
	stay,
	COUNT (*) AS count_int,
	ROUND(AVG(todep), 2) AS average_phq,
	ROUND(AVG(tosc), 2) AS average_scs,
	ROUND(AVG(toas), 2) AS average_as
FROM students_mental_health
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;

Running query in 'postgresql://postgres:***@localhost/PortfolioProjects'

9 rows affected.

+------+-----------+-------------+-------------+------------+
| stay | count_int | average_phq | average_scs | average_as |
+------+-----------+-------------+-------------+------------+
|  10  |     1     |    13.00    |    32.00    |   50.00    |
|  8   |     1     |    10.00    |    44.00    |   65.00    |
|  7   |     1     |     4.00    |    48.00    |   45.00    |
|  6   |     3     |     6.00    |    38.00    |   58.67    |
|  5   |     1     |     0.00    |    34.00    |   91.00    |
|  4   |     14    |     8.57    |    33.93    |   87.71    |
|  3   |     46    |     9.09    |    37.13    |   78.00    |
|  2   |     39    |     8.28    |    37.08    |   77.67    |
|  1   |     95    |     7.48    |    38.11    |   72.80    |
+------+-----------+-------------+-------------+------------+